<header
  class="z-50 h-[61px] m-0 md:ml-64 flex items-center justify-between px-6 py-6 bg-white dark:bg-blue-950 shadow-lg"
>
  <div class="flex items-center gap-4">
    <!-- Botão de toggle da barra lateral -->
    <button
      (click)="onToggleSidebar()"
      class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-blue-900"
    >
      <i class="fas sidebar text-xl text-gray-700 dark:text-gray-300"></i>
    </button>

    <a
      class="text-2xl tracking-[0.5rem] font-bold uppercase text-gray-900 dark:text-white cursor-pointer"
      (click)="redirectHomePage()"
    >
      Todo
    </a>
  </div>
  <div class="flex gap-3">
    <app-dark-mode></app-dark-mode>
    <app-profile></app-profile>
  </div>
</header>
